@import "../../theme.scss";

.project-screen {
    background-color: $bgcolor;
    display: flex;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.266);
    background-color: rgb(15, 15, 15);
    background-color: rgb(9, 9, 11);

    .project-screen-wrapper {
        margin: auto;
        max-width: 800px;
        padding: 130px 0px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
            color: white !important;
        }

        .project-list {
            display: grid;
            gap: 30px;

            .project-card {
                border-radius: 10px;
                background-color: rgb(25, 25, 25);
                background-color: rgb(19, 19, 22);
                color: white;
                display: grid;
                grid-template-columns: auto 2fr;
                padding: 10px;
                overflow: hidden;
                border: 1px solid rgb(39, 39, 42);

                img {
                    height: 130px;
                    aspect-ratio: 16/10;
                    border-radius: 4px;
                    border: 2px solid white;
                }

                .project-detail {
                    padding: 0px 15px;
                    display: flex;
                    flex-direction: column;

                    .name {
                        font-size: 18px;
                        margin-bottom: 8px;
                    }

                    .desc {
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 1.5;
                        letter-spacing: 0.5px;
                        color: rgb(129, 129, 129);
                    }

                    .techs {
                        display: flex;
                        gap: 6px;
                        column-gap: 6px;
                        flex-wrap: wrap;
                        margin-top: 15px;

                        .tech {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            border: 1px solid #3ccf9299;
                            padding: 3px 7px;
                            border-radius: 30px;

                            .dot {
                                background-color: #3ccf9299;
                                height: 6px;
                                width: 6px;
                                border-radius: 10px;
                            }

                            .tech-name {
                                font-size: 13px;
                                color: rgb(148, 148, 148);
                            }
                        }
                    }

                    .options {
                        margin-top: 15px;
                        display: flex;
                        gap: 20px;
                        color: $primary-font-color;
                        color: rgb(182, 182, 182);
                        letter-spacing: 1px;
                        font-size: 14px;
                        // justify-content: end;

                        .live {
                            display: flex;
                            justify-self: center;
                            gap: 5px;
                        }

                        .git {
                            display: flex;
                            justify-self: center;
                            gap: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .project-screen {
        .project-screen-wrapper {
            padding: 70px 15px;

            .project-list {
                display: grid;
                grid-template-columns: 1fr;

                .project-card {
                    display: block;

                    img {
                        height: auto;
                        width: -webkit-fill-available;
                    }

                    .project-detail {
                        padding: 10px 0px;
                    }
                }
            }
        }

    }
}