@import "../../theme.scss";

.project-screen {
  background-color: white;
  display: flex;
  margin: auto;

  .project-screen-wrapper {
    margin: auto;
    max-width: 800px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;

    .title {
      color: black;
    }

    .project-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      .project-card {
        background-color: $seconday-bg-color;
        border-radius: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        overflow: hidden;

        img {
          width: 100%;
          aspect-ratio: 16 / 10;
          border-radius: 4px;
          border: 2px solid white;
        }

        .project-detail {
          display: flex;
          flex-direction: column;

          .name {
            font-size: 16px;
            margin-bottom: 8px;
            font-weight: 500;
            // color: #222;
          }

          .options {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            font-size: 14px;
            letter-spacing: 1px;
            color: white;

            .live,
            .git {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 6px 12px;
              border-radius: 30px;
              background-color: $primary-color;
              cursor: pointer;
              transition: background-color 0.2s ease;

              &:hover {
                background-color: #3b3b3b;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .project-screen {
    .project-screen-wrapper {
      padding: 70px 15px;

      .title {
        font-size: 24px;
      }

      .project-list {
        grid-template-columns: 1fr;

        .project-card {
          gap: 15px;

          .project-detail {
            .name {
              font-size: 15px;
            }

            .desc {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
