@import "../../theme.scss";

/* Animation */
.mobile-number.fade-in {
  animation: fadeInMobile 0.5s;
}

@keyframes fadeInMobile {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-screen {
  background-color: $bgcolor;
  height: 100vh;
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 1300px;
  // background-color: red;

  .immm {
    display: none;
  }

  .home-screen-wrapper {
    background-color: $bgcolor;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 40px;
    width: 100%;
    height: fit-content;

    .aboutme {
      display: flex;
      flex-direction: column;
      padding-top: 40px;

      .Hey_there {
        font-weight: 700;
        color: $primary-color;
        font-size: 50px;
      }

      .firstname {
        font-weight: 800;
        font-size: 65px;
        margin-top: 15px;
      }

      .designation {
        font-size: 25px;
        font-weight: 500;
      }

      .about-me-description {
        color: rgb(95, 95, 95);
        margin: 20px 0;
        font-size: 25px;
        font-weight: 500;
        line-height: 33px;
      }

      .resume-button {
        background-color: $primary-color;
        color: white;
        border-radius: 50px;
        padding: 8px 15px;
        font-size: 18px;
        border: 2px solid white;
        text-decoration: none;
        width: fit-content;
        margin-top: 5px;
      }

      .links {
        display: flex;
        gap: 15px;
        margin-top: 10px;

        .link-icon {
          svg {
            width: 28px;
            height: 28px;
            color: gray;
            cursor: pointer;

            &:hover {
              color: rgb(33, 33, 33);
            }
          }
        }
      }
    }

    .banner-image {
      img {
        width: 380px;
        border-radius: 40px;
        rotate: 3deg;
      }
    }

    .logo {
      font-size: 140px;
      margin-top: -25px;
    }
  }
}

@media (max-width: 768px) {
  .home-screen {
    height: 100vh;

    .home-screen-wrapper {
      padding: 0 20px;
      flex-direction: column;

      .aboutme {
        font-size: 20px;

        .Hey_there {
          font-size: 20px;
        }

        .firstname {
          font-size: 28px;
        }

        .about-me-description {
          font-size: 16px;
          margin: 5px 0;
          line-height: 23px;
        }
      }

      .small-banner-image {
        display: flex;

        img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-bottom: 30px;
        }
      }

      .banner-image {
        display: none;
      }

      .resume-button {
        display: flex;
      }
    }
  }
}
