@import "../../theme.scss";

.home-screen {
    background-color: $bgcolor;
    height: calc(100vh - 70px);
    height: 100vh;
    top: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    .immm {
        display: none;
    }

    .home-screen-wrapper {
        background-color: $bgcolor;
        display: grid;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr auto;
        height: 100%;
        max-width: 1200px;

        .aboutme {
            display: flex;
            flex-direction: column;

            .small-banner-image {
                display: none;
            }

            .Hey_there {
                font-size: 45px;
                font-weight: 800;
                color: $primary-font-color;
                font-size: 50px;
                font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            .firstname {
                font-size: 45px;
                font-weight: 800;
                font-size: 78px;
                font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

            }

            .designation {
                font-size: 25px;
                font-weight: 500;
            }

            .about {
                color: rgb(95, 95, 95);
                margin: 30px 0px;
                font-size: 30px;
                font-weight: 600;
                font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }

            .resume-button {
                background-color: #3CCF91;
                color: white;
                width: auto;
                border: 0px;
                border-radius: 50px;
                padding: 8px 15px;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                display: none;
                border: 2px solid white;
                text-decoration: none;
                width: fit-content;
                margin-top: 15px;
            }

            .links {
                display: flex;
                gap: 15px;
                margin-top: 10px;

                .link-icon {
                    svg {
                        height: 28px;
                        width: 28px;
                        color: gray;
                        cursor: pointer;

                        &:hover {
                            color: rgb(33, 33, 33);
                        }
                    }
                }

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .banner-image {

            img {
                width: 380px;
                border-radius: 40px;
                rotate: 3deg;
            }
        }
    }

}

@media screen and (max-width: 1200px) {
    .home-screen {
        .immm {
            border-radius: 50%;
            width: 63vw;
            margin: auto;
            margin-bottom: 30px;
            display: block;
        }

        .home-screen-wrapper {
            padding: 0px 40px;



            .banner-image {
                img {
                    width: 300px;
                    border-radius: 40px;
                    rotate: 3deg;
                }
            }
        }

    }
}

@media screen and (max-width: 850px) {
    .home-screen {
        height: 100vh !important;

        .home-screen-wrapper {
            .aboutme {
                font-size: 20px;

                .Hey_there {
                    font-size: 25px;
                }

                .firstname {
                    font-size: 35px;
                }

                .about {
                    font-size: 20px;
                    margin: 5px 0px;
                }
            }

            .small-banner-image {
                display: flex !important;

                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    margin-bottom: 30px;
                }
            }

            .banner-image {
                display: none;
            }

            .resume-button {
                display: flex !important;
            }
        }
    }
}