.cursor {
    display: inline-block;
    width: 5px; /* Adjust as needed */
    background-color: black; /* Color of the cursor */
    margin-left: 2px; /* Spacing between text and cursor */
    animation: blink 0.7s step-end infinite; /* Blinking effect */
    
    color: gray !important;
    background-color: gray;
    &.blink {
        opacity: 1;
        width: 3px;
        height: 10px;
        color: gray !important;
        background-color: gray;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
