@import "../../theme.scss";

.tech-screen {
  display: flex;
  justify-content: center;

  .tech-screen-wrapper {
    max-width: 800px;
    min-width: 800px;
    padding: 80px 0;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 24px;
      font-weight: 500;
    }

    .tech-cards {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .wrapper {
        background-color: $seconday-bg-color;
        border-radius: 10px;
        padding: 20px 22px;
        transition: transform 0.2s;

        .tech-title {
          font-size: 16px;
          margin-bottom: 15px;
          font-weight: 500;
          color: #222;
        }

        .each-tech-type {
          .tech-type-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .tech-detail {
              display: flex;
              align-items: center;
              padding: 5px 10px;
              background-color: white;
              border-radius: 20px;
              font-size: 15px;
              // font-weight: 500;
              color: #222;
              transition: background-color 0.1s;

              &:hover {
                background-color: #3ccf92;

                .dot {
                  background-color: white;
                }
              }

              .dot {
                height: 7px;
                width: 7px;
                margin-right: 8px;
                border-radius: 50%;
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .tech-screen {
    padding: 70px 15px;

    .tech-screen-wrapper {
      padding: 0;
      min-width: auto;

      .title {
        font-size: 24px;
      }

      .tech-cards {
        .wrapper {
          padding: 15px 17px;
          .tech-title {
            font-size: 16px;
          }

          .each-tech-type {
            .tech-type-wrapper {
              .tech-detail {
                font-size: 13px;
                padding: 4px 8px;
              }
            }
          }
        }
      }
    }
  }
}
