@import "../../App.scss";

.tech-screen {
    background-color: $bgcolor;
    // height: 100vh;
    display: flex;
    margin: auto;
    padding-bottom: 150px;

    .tech-screen-wrapper {
        // background-color: $bgcolor;
        // display: grid;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // grid-template-columns: 1fr auto;
        // gap: 50px;
        // height: 100%;
        padding: 0px 100px;

        .tech-list {
            .each-tech-type {

                .tech-type-wrapper {
                    display: grid;
                    display: flex;
                    gap: 4px;
                    // grid-template-columns: 100% 100% 100%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;



                    .tech-detail {
                        display: flex;
                        align-items: center;
                        padding: 7px 12px;
                        gap: 6px;
                        // color: white;
                        font-size: 14px;
                        letter-spacing: 1px;

                        svg {
                            width: 30px;
                            height: 30px;
                            color: white;
                        }

                        img {
                            width: 20px;
                            // margin: 10px;
                        }

                    }
                }
            }
        }



    }

}

@media screen and (max-width: 850px) {

    .tech-screen {

        .tech-screen-wrapper {
            padding: 0px 20px;
        }

    }
}