@import "../../App.scss";

.exp-screen {
    background-color: $bgcolor;
    display: flex;
    margin: auto;
    padding-bottom: 100px;

    .exp-screen-wrapper {
        // background-color: $bgcolor;
        // display: grid;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // grid-template-columns: 1fr auto;
        // gap: 50px;
        // height: 100%;
        padding: 0px 100px;

        .exp-list {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .each-exp {
                display: flex;
                gap: 15px;

                .bullet {
                    width: 10px;
                    height: 10px;
                    background-color: #48b5d6;
                    border-radius: 50%;
                    margin-top: 5px;
                }

                .details {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .duration {
                        display: flex;
                        gap: 4px;
                        font-size: 14px;
                        color: $gray;
                        // font-weight: 300;
                    }

                    .position {
                        font-weight: 500;
                    }

                    .company {
                        color: gray;
                    }
                }
            }
        }
    }

}
@media screen and (max-width: 850px) {

    .exp-screen {

        .exp-screen-wrapper {
            padding: 0px 20px;
        }

    }
}