@import "../../theme.scss";

.experience {
  background: $bgcolor;
  padding: 80px 16px;

  .experience-wrapper {
    max-width: 800px;
    margin: auto;

    .title {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 50px;
    }

    .timeline {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 30px;

      &::before {
        content: "";
        position: absolute;
        left: 6px;
        top: 30px;
        // top: 0;
        bottom: 0;
        width: 2px;
        background: #e5e7eb;
      }

      .timeline-item {
        display: flex;
        gap: 20px;
        position: relative;

        .timeline-marker {
          width: 14px;
          height: 14px;
          background: $primary-color;
          border-radius: 50%;
          flex-shrink: 0;
          top: 23px;
          position: relative;
        }

        .card {
          background: $seconday-bg-color;
          padding: 22px 26px;
          border-radius: 10px;
          width: 100%;

          .date {
            font-size: 14px;
            color: $primary-color;
            font-weight: 400;
            margin-bottom: 12px;
          }

          .role {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 15px;

            .company {
              font-weight: 400;
              color: #333;
            }
          }

          .points {
            padding-left: 18px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            font-size: 15px;
            margin-bottom: 5px;
            margin-top: 0;

            li {
              // line-height: 1.3;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .experience {
    padding: 70px 15px;

    .experience-wrapper {
      .title {
        font-size: 26px;
      }

      .timeline {
        gap: 20px;

        &::before {

          top: 22px;
          left: 4px;
        }

        .timeline-item {
          gap: 10px;

          .timeline-marker {
            top: 15px;
            width: 10px;
            height: 10px;
          }

          .card {
            padding: 12px 14px;

            .date {
              font-size: 13px;
              margin-bottom: 6px;
            }

            .role {
              font-size: 14px;
              display: flex;
              flex-direction: column;
              gap: 6px;
              margin-bottom: 10px;
            }

            .points {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}