.header-component {
    position: fixed;
    top: 0px;
    z-index: 2;
    top: 0px;
    width: 100%;
    margin: auto;
    color: white;
    height: 70px;
    display: flex;

    .header-wrapper {
        margin: auto;
        max-width: 800px;
        display: flex;
        justify-content: center;
        gap: 10px;

        .logo {
            font-size: 24px;
            display: none;
        }

        .menus {
            display: flex;
            align-items: flex-end;
            font-size: 18px;
            padding: 5px 5px;
            justify-content: space-around;
            align-items: center;
            background: rgb(0, 0, 0);
            backdrop-filter: saturate(180%) blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 40px;
            border: 1px solid white;
            gap: 4px;

            div {
                padding: 5px 20px;
                height: 22px;
                display: flex;
                align-items: center;
                cursor: pointer;

                &:hover {
                    background-color: #3ccf926c;
                    border-radius: 30px;
                }

            }

            .active-menu {
                background-color: #3CCF91 !important;
                border-radius: 30px;
                // color: black;
            }
        }

        .resume-button {
            background-color: #3CCF91;
            color: white;
            width: auto;
            border: 0px;
            border-radius: 50px;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border: 1px solid white;
            text-decoration: none;
        }
    }
}

.gggg {
    background-color: #3CCF91;
    border-radius: 30px;
    padding: 0px 5px;
}

@media screen and (max-width: 850px) {

    .header-component {
        top: 0px;

        .header-wrapper {
            padding: 0px;

            .menus {
                font-size: 3.6vw;
                padding: 4px;
                border-radius: 40px;
                border-width: 1px;
                gap: 0px;

                div {
                    padding: 4px 7px;
                    height: 17px;
                    display: flex;
                    align-items: center;

                    &:hover {
                        background-color: black;
                        border-radius: 30px;
                    }
                }
            }

            .resume-button {
                font-size: 14px;
                display: none;
            }
        }
    }
}