.header-component {
    position: fixed;
    top: 0px;
    z-index: 2;
    top: 0px;
    width: 100%;
    margin: auto;
    color: white;
    height: 70px;
    display: flex;

    .header-wrapper{
        margin: auto;
        max-width: 800px;
        display: flex;
        justify-content: center;
        gap: 10px;
        
        .logo {
            font-size: 24px;
            display: none;
        }
        
        .menus {
            display: flex;
            gap: 20px;
            align-items: flex-end;
            font-size: 18px;
            padding: 10px 50px;
            justify-content: space-around;
            align-items: center;
            background: rgb(0, 0, 0);
            backdrop-filter: saturate(180%) blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border-radius: 40px;
            border: 2px solid white;
            gap: 40px;
        }
        .resume-button{
            background-color: #3CCF91;
            color: white;
            width: auto;
            border: 0px;
            border-radius: 50px;
            padding: 10px 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border: 2px solid white;
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 850px) {

    .header-component {
        top: 0px;
        .header-wrapper{
            padding: 0px;
            .menus {
                gap: 10px !important;
                font-size: 14px;
                padding: 10px 20px;
                border-radius: 40px;
                gap: 20px;
            }
            .resume-button{
                font-size: 14px;
            }
        }
    }
}