@import "../../theme.scss";

.about-screen {
    background-color: $bgcolor;
    display: flex;
    margin: auto;
    background-color: #121212;
    height: 100vh;

    .about-screen-wrapper {
        margin: auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .title {
            color: white;
        }

        .about-me {
            line-height: 1.6;
            font-size: 18px;
            letter-spacing: 0.5px;
            font-weight: 300;
            color: white;

            strong {
                color: #3ccf91;
            }
        }

    }

}

@media screen and (max-width: 850px) {
    .about-screen {
        height: auto;
        padding: 70px 15px;

        .about-screen-wrapper {
            gap: 20px;

            .title {
                font-size: 24px;
            }

            .about-me {
                font-size: 15px;
            }
        }
    }
}