$primary-font-color: #3ccf91;
$primary-color: #3ccf91;
$bgcolor: white;
$sbgcolor: rgb(236, 236, 236);
$color: black;
$gray: gray;

body {
  margin: auto;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.desc {
  font-size: 16px !important;
  color: #333 !important;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .desc {
    font-size: 14px !important;
    line-height: 1.6 !important;
  }
}

// p {
//   font-size: 16px;
//   line-height: 1.7;
//   color: #374151;
//   margin-bottom: 14px;
// }
