<<<<<<< HEAD
// $black: balck;
// $pwhite: white;
// $swhite: white;
// $pdark : #0e182c;
// $sdark : #101e38;
$primary-font-color: #3CCF91;

$bgcolor : white;
$sbgcolor : rgb(236, 236, 236);
=======
$primary-font-color: #3ccf91;
$primary-color: #3ccf91;
$bgcolor: white;
$sbgcolor: rgb(236, 236, 236);
>>>>>>> ef3c20d (UI change)
$color: black;
$gray: gray;

body {
<<<<<<< HEAD
  // color: $white;
  // background-color: $sbgcolor;
  font-family: 'Roboto', sans-serif;
  // max-width: 1000px;
=======
>>>>>>> ef3c20d (UI change)
  margin: auto;
}

.title {
  font-size: 30px;
<<<<<<< HEAD
  // margin: 20px 0px;
  font-weight: 600;
  // color: $primary-font-color;
  // text-transform: uppercase;
}
=======
  font-weight: 600;
}

.desc {
  font-size: 16px !important;
  color: #333 !important;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .desc {
    font-size: 14px !important;
    line-height: 1.6 !important;
  }
}

// p {
//   font-size: 16px;
//   line-height: 1.7;
//   color: #374151;
//   margin-bottom: 14px;
// }
>>>>>>> ef3c20d (UI change)
