<<<<<<< HEAD
$primary-font-color: #3CCF91;

$bgcolor : white;
$sbgcolor : rgb(236, 236, 236);
$color: black;
$gray: gray;
=======
$primary-font-color: #3ccf91;

$primary-color: #ff5757;
$seconday-bg-color: #e7ebf0;    
$seconday-bg-color: #eceff3;
// $primary-color: #2ea372;
$bgcolor: white;
$sbgcolor: rgb(236, 236, 236);
$color: black;
$gray: gray;
>>>>>>> ef3c20d (UI change)
