@import "../../App.scss";

.footer-screen {
    background-color: $bgcolor;
    // height: 100vh;
    display: flex;
    // justify-content: center;
    // align-items: center;
    margin: auto;
    padding-bottom: 70px;

    .footer-screen-wrapper {
        // background-color: $bgcolor;
        // display: grid;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // grid-template-columns: 1fr auto;
        // gap: 50px;
        // height: 100%;
        padding: 0px 100px;
        .desc{
            color: gray;
            line-height: 25px;
            margin-bottom: 30px;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .link {
                display: flex;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                &:hover{
                    svg{
                        color: rgb(33, 33, 33);
                    }
                    a{
                        color: rgb(33, 33, 33);
                    }
                }
                svg{
                    height: 28px;
                    width: 28px;
                    color: gray;
                }

                img {
                    width: 30px;
                    cursor: pointer;
                }

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: gray;
                }
            }
        }
    }

}

@media screen and (max-width: 850px) {

    .footer-screen {

        .footer-screen-wrapper {
            padding: 0px 20px;

        }

    }
}